**/*.ts
**/tsconfig.json
**/tslint.json
.DS_Store
*.vsix
src/
view-src/
.env
config/
.vscode/
scripts/
public/
.gitignore
node_modules/
webpack.config.js
!node_modules/serialport/
!node_modules/@serialport/
!node_modules/debug
!node_modules/ms
!node_modules/bindings
!node_modules/file-uri-to-path
!node_modules/7zip-bin
!node_modules/7zip-bin-wrapper
!node_modules/source-map-support
!node_modules/split2
!node_modules/iconv-lite
!node_modules/buffer-from
!node_modules/safer-buffer
!node_modules/inherits
!node_modules/util-deprecate