.lds-ring {
    display: inline-block;
    position: relative;
    width: 4vw;
    height: 4vw;
    div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 4vw;
        height: 4vw;
        border: 4px solid #989898;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: #989898 transparent transparent transparent;
        &:nth-child(1) {
            animation-delay: -0.45s;
        }
        &:nth-child(2) {
            animation-delay: -0.3s;
        }
        &:nth-child(3) {
            animation-delay: -0.15s;
        }
    }
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
